.ui-blockTitle, .webPageTitle {
    font-size: 32px;
    color: #434343;
    line-height: 1.4375;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    padding-bottom: 20px;
}

.topMenu ul{
    padding-bottom: 20px;
}

.webSiteTitle{
    padding-top: 80px;
    padding-bottom: 40px;
}

.v-application ul, .v-application ol {
    padding-left: 0px !important;
}

.bg-dark{
    background-color: #434343 !important;
}

.headerStyle nav{
    padding-left: 15px !important;
}

.titleSM{
    padding-right: 4em;
}